/* ---------------------------------- */
/* ---------------------------------- */
/* -------- custom styles ----------- */
/* ---------------------------------- */
/* ---------------------------------- */
*, 
::before, 
::after {
	box-sizing: border-box;
	margin: 0 !important;
	padding: 0 !important;
	font-family: inherit;
	-webkit-user-select: inherit;
	   -moz-user-select: inherit;
	    -ms-user-select: inherit;
	        user-select: inherit;
	/* temp */
	color: white;
}
/* temp */
body { width: 100%; overflow-x: hidden; }
a, a:hover { 
	text-decoration: none; 
	color: inherit; 
	text-transform: inherit;
}
ul, ol { list-style: none; }
i, i::before { font-size: inherit; font-weight: inherit; color: inherit; }


/* ---------------------------------- */
/* ---------------------------------- */
/* ------- main container ----------- */
/* ---------------------------------- */
/* ---------------------------------- */
#main {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* temp */
	min-height: 200vh;
	background-color: var(--bg-dark-blue);
}
/* everything directly inside the main container */
#main > * {
	width: 100%;
	max-width: 1600px;
}


/* ---------------------------------- */
/* ---------------------------------- */
/* ------- navigation bar ----------- */
/* ---------------------------------- */
/* ---------------------------------- */
/* bar */
#nav {
	height: 110px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 8px !important;
	/* temp */
	background-color: var(--bg-dark-blue);
}
/* brand */
#nav #brand-wrapper {
	color: white;
	text-transform: uppercase;
	height: 100%;
	/* reponsive */
	-moz-column-gap: 5px;
	     column-gap: 5px;
	display: flex;
	align-items: center;
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
	padding-left: 40px !important;
}
#nav #brand-wrapper h1 {
	/* responsive */
	font-size: 40px;
	font-weight: 700;
}
#nav #brand-wrapper #logo-img {
	max-height: 45px;
	filter: hue-rotate(155deg);
	-webkit-filter: hue-rotate(155deg);
}
/* links */
#nav #links-group-wrapper {
	height: 100%;
	display: flex;
	align-items: center;
}
#nav #links-group {
	text-transform: uppercase;
	display: flex;
	padding-right: 10px !important;
}
#nav #links-group .link {
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	/*transition*/;
	color: rgba(255, 255, 255, 0.55);
	background-color: transparent;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	/* responsive */
	padding-left: 22px !important;
	padding-right: 22px !important;
	padding-top: 16px !important;
	padding-bottom: 18px !important;
}
#nav #links-group .link:hover {
	background-color: var(--light-red-color);
	color: white;
}



/* ---------------------------------- */
/* ---------------------------------- */
/* ------- carousel slider ---------- */
/* ---------------------------------- */
/* ---------------------------------- */
/* carousel */
#carousel {
	height: 530px;
	width: calc(100% - 16px);
	position: relative;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	pointer-events: auto;
	overflow: hidden;
	cursor: default;
}
/* slider */
#carousel #slider {
	height: 100%;
	width: 500%;
	max-width: unset;
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
	grid-auto-flow: column;
	/*defaultposition*/position: absolute;
	z-index: 990;
	left: -100%;
	pointer-events: none;
	/*transition*/
	transition: all 100ms ease;
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-ms-transition: all 100ms ease;
	-o-transition: all 100ms ease;
}
/* slider's slides */
#carousel .slide {
	width: 100%;
	height: 100%;
	background-color: var(--bg-light-blue);
	box-shadow: inset 0 3px 30px var(--bg-dark-blue-shadow);
	position: relative;
}
/* subslides */
#carousel .sub-slide {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* transition */;
	transition: opacity 800ms ease;
	-webkit-transition: opacity 800ms ease;
	-moz-transition: opacity 800ms ease;
	-ms-transition: opacity 800ms ease;
	-o-transition: opacity 800ms ease;
}
/* sub-slides' opacity */
#carousel .slide[slide="0"] .sub-slide[sub-slide="0"], 
#carousel .slide[slide="1"] .sub-slide[sub-slide="1"], 
#carousel .slide[slide="2"] .sub-slide[sub-slide="2"] {
	opacity: 1;
}
#carousel .slide[slide="0"] .sub-slide[sub-slide="1"], 
#carousel .slide[slide="0"] .sub-slide[sub-slide="2"], 
#carousel .slide[slide="1"] .sub-slide[sub-slide="0"], 
#carousel .slide[slide="1"] .sub-slide[sub-slide="2"], 
#carousel .slide[slide="2"] .sub-slide[sub-slide="0"], 
#carousel .slide[slide="2"] .sub-slide[sub-slide="1"] {
	opacity: 0;
}
/* content wrapper */
#carousel .content-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	text-transform: uppercase;
		/* transform */
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
/* slide's images */
#carousel .slide-img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: top;
	   object-position: top;
}
/* slide's heading */
#carousel #slider .heading {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	background-color: var(--light-red-color);
	color: white;
	font-size: 54px;
	font-weight: 700;
	padding-left: 20px !important;
	padding-right: 20px !important;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
/* slide's description */
#carousel #slider .desc {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	background-color: white;
	color: black;
	font-size: 20px;
	padding-left: 20px !important;
	padding-right: 20px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
/* slider buttons */
#carousel .slider-btn {
	font-size: 30px;
	position: absolute;
	z-index: 991;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	/* transition */;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.466);
	transition: all 200ms ease;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
}
/* slider button left */
#carousel .slider-btn#left {
	left: var(--carousel-inner-position-for-controls);
}
/* slider button right */
#carousel .slider-btn#right {
	right: var(--carousel-inner-position-for-controls);
}
#carousel .slider-btn:hover {
	color: white;
}
/* slider indicators container */
#carousel #indicators-container {
	display: grid;
	grid-template-columns: repeat(1fr, 3);
	grid-auto-flow: column;
	-moz-column-gap: 2px;
	     column-gap: 2px;
	position: absolute;
	left: var(--carousel-inner-position-for-controls);
	bottom: var(--carousel-inner-position-for-controls);
	z-index: 991;
	/* for pointer */
	padding: 5px !important;
	cursor: pointer;
}
/* slider indicators */
#carousel .indicator {
	background-color: rgba(255, 255, 255, 0.354);
	width: 15px;
	height: 15px;
	/*transition*/
	cursor: pointer;
	transition: all 200ms ease;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
}
#carousel .indicator:hover {
	background-color: rgba(255, 255, 255, 0.517);
} 
#carousel .indicator.active {
	background-color: white;
}